@import "tailwindcss";
@import "tw-animate-css"; /* optional */

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: hsl(0 0% 97%);
  --foreground: hsl(0 0% 11%);
  --card: hsl(0 0% 97%);
  --card-foreground: hsl(0 0% 11%);
  --popover: hsl(0 0% 97%);
  --popover-foreground: hsl(0 0% 11%);
  --primary: hsl(0 56% 40%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(42 91% 91%);
  --secondary-foreground: hsl(40 95% 25%);
  --muted: hsl(20 30% 92%);
  --muted-foreground: hsl(33 6% 32%);
  --accent: hsl(47 97% 88%);
  --accent-foreground: hsl(1 61% 31%);
  --destructive: hsl(0 70% 35%);
  --border: hsl(38 65% 90%);
  --input: hsl(38 65% 90%);
  --ring: hsl(0 56% 40%);
  --chart-1: hsl(0 72% 42%);
  --chart-2: hsl(0 56% 40%);
  --chart-3: hsl(1 61% 31%);
  --chart-4: hsl(27 99% 36%);
  --chart-5: hsl(22 77% 32%);
  --sidebar: hsl(20 30% 92%);
  --sidebar-foreground: hsl(0 0% 11%);
  --sidebar-primary: hsl(0 56% 40%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(47 97% 88%);
  --sidebar-accent-foreground: hsl(1 61% 31%);
  --sidebar-border: hsl(38 65% 90%);
  --sidebar-ring: hsl(0 56% 40%);

  --font-sans: Poppins, sans-serif;
  --font-serif: Libre Baskerville, serif;
  --font-mono: IBM Plex Mono, monospace;

  --radius: 0.375rem;
  
  --shadow-2xs: 1px 1px 16px -2px hsl(0 63% 18% / 0.06);
  --shadow-xs: 1px 1px 16px -2px hsl(0 63% 18% / 0.06);
  --shadow-sm: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 1px 2px -3px hsl(0 63% 18% / 0.12);
  --shadow: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 1px 2px -3px hsl(0 63% 18% / 0.12);
  --shadow-md: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 2px 4px -3px hsl(0 63% 18% / 0.12);
  --shadow-lg: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 4px 6px -3px hsl(0 63% 18% / 0.12);
  --shadow-xl: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 8px 10px -3px hsl(0 63% 18% / 0.12);
  --shadow-2xl: 1px 1px 16px -2px hsl(0 63% 18% / 0.30);
  
}

.dark {
  --background: hsl(23 15% 10%);
  --foreground: hsl(0 0% 96%);
  --card: hsl(15 10% 15%);
  --card-foreground: hsl(0 0% 96%);
  --popover: hsl(15 10% 15%);
  --popover-foreground: hsl(0 0% 96%);
  --primary: hsl(0 72% 42%);
  --primary-foreground: hsl(0 0% 97%);
  --secondary: hsl(22 77% 32%);
  --secondary-foreground: hsl(47 97% 88%);
  --muted: hsl(15 10% 15%);
  --muted-foreground: hsl(0 0% 83%);
  --accent: hsl(27 99% 36%);
  --accent-foreground: hsl(47 97% 88%);
  --destructive: hsl(0 86% 61%);
  --border: hsl(33 7% 25%);
  --input: hsl(33 7% 25%);
  --ring: hsl(0 72% 42%);
  --chart-1: hsl(360 92% 71%);
  --chart-2: hsl(0 86% 61%);
  --chart-3: hsl(359 75% 50%);
  --chart-4: hsl(42 96% 59%);
  --chart-5: hsl(36 91% 54%);
  --sidebar: hsl(23 15% 10%);
  --sidebar-foreground: hsl(0 0% 96%);
  --sidebar-primary: hsl(0 72% 42%);
  --sidebar-primary-foreground: hsl(0 0% 97%);
  --sidebar-accent: hsl(27 99% 36%);
  --sidebar-accent-foreground: hsl(47 97% 88%);
  --sidebar-border: hsl(33 7% 25%);
  --sidebar-ring: hsl(0 72% 42%);
  
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}